/* Black:	#1B1C1D */
/* Orange:	#F57300 */
/* LOrange:	#F58700 */

html
{
	min-height: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}
body
{
	flex: 1;
	display: flex;
	flex-direction: column;
}
#resp_check
{
	display: none;
	content: "Mobile";
	flex: 0; /* Edge does not see content */
}
@media only screen and (min-width: 768px)
{
	/* Tablet */
	
	body
	{
		background: #FEFEFE;
	}
	#resp_check
	{
		content: "Tablet";
		flex: 1; /* Edge does not see content */
	}
}
@media only screen and (min-width: 992px)
{
	/* Desktop */
	
	#resp_check
	{
		content: "Desktop";
		flex: 2; /* Edge does not see content */
	}
}
.ui, .menu, .menu > .item, form *
{
	border-radius: 0 !important;
}
.dropdown
{
	-webkit-user-select: none;
	user-select: none;
}

/* HEADER */

header
{
	position: sticky !important;
	display: table !important;
	z-index: 1000 !important;
}
#header_flex
{
	display: flex;
}
#header_home,
#header_login
{
	flex: 1;
	justify-content: center;
}
#header_home
{
	font-weight: normal;
}
#header_home > img
{
	margin-right: 1.5em;
}
#header_login
{
	padding-right: 1.5em;
}
#header_login > i
{
	margin: 0.65em 0.5em auto 0;
}
@media only screen and (max-width: 767px)
{
	/* Mobile */
	
	#header_login
	{
		border-left: 1px solid rgba(255,255,255,.08);
	}
}
#header_input
{
	padding: 0;
}
#header_input > input::-moz-selection
{
	background: #F58700;
}
#header_input > input::selection
{
	background: #F58700;
}
#header_input > input
{
	padding: 1.14286em !important;
	padding-right: 0 !important;
}
#header_input > a,
#header_input > a > i
{
	height: 100%;
}
#header_input > a > i
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 1.14286em;
}
@media only screen and (min-width: 768px)
{
	/* Tablet */
	
	#header_flex
	{
		height: 4em;
		width: 100%;
	}
	#header_home,
	#header_login
	{
		flex: 0;
	}
	#header_home
	{
		border-left: 1px solid rgba(255,255,255,.08);
	}
	#header_input
	{
		flex: 1;
	}
	#search_bar
	{
		height: 100%;
	}
}

/* MAIN */

.main.text.container
{
	flex: 1;
	padding: 1em 0 2em 0;
}
.main.text.container .segment:not(.basic)
{
	border-top: 2px solid #F57300;
}
.main.text.container a
{
	color: #F57300;
}
.main.text.container a:hover
{
	color: #F57300;
	text-decoration: underline;
}
.main.text.container .dimmer
{
	z-index: 998;
}
#home_header
{
	padding-bottom: 1.8em;
	padding-top: 1.0em;
}
.header h3
{
	padding-bottom: 0.4em;
}
#home_container
{
	width: 100%;
	max-width: 1920px !important;
	padding: 2em 0 4em 0;
}
#main_header
{
	margin-bottom: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#main_header_divider
{
	display: none;
}
#main_dropdown
{
	width: 100%;
	font-size: 1rem;
	z-index: 999 !important;
}
#main_dropdown.active,
#main_dropdown > .menu
{
	border-color: #F57300;
}
#main_dropdown:focus
{
	border-color: #F58700;
}
#main_dropdown > .menu > .item
{
	border-top: none;
}
#main_dropdown > .menu > .item:hover
{
	background: #F58700;
}
#main_dropdown > .menu > .item.selected
{
	background: #F57300;
}
@media only screen and (min-width: 768px) and (max-width: 1199px)
{
	#column_wiki
	{
		margin-right: 1.5em;
	}
}
@media only screen and (min-width: 768px)
{
	/* Tablet */
	
	#main_container
	{
		width: 100%;
		max-width: 1920px !important;
		padding: 2em 0 4em 0;
	}
	#grid_container
	{
		width: 100% !important;
	}
	#grid_container > .column
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
	#column_wiki
	{
		display: flex;
		flex-direction: column;
	}
	#main_title
	{
		flex: 1;
		text-align: center;
	}
	#main_dropdown_container
	{
		flex: 1;
		text-align: center;
	}
	#main_dropdown
	{
		width: auto;
	}
	#content_wiki_container
	{
		flex: 1;
	}
	#content_wiki a:hover
	{
		cursor: pointer;
	}
	#djenius_segment
	{
		margin-top: 0;
	}
}
@media only screen and (min-width: 992px)
{
	/* Desktop */
	
	#main_header
	{
		padding: 1em 0;
		flex-direction: row;
	}
	#main_title
	{
		margin: 0;
	}
	#main_header_divider
	{
		display: inline;
	}
}
@media only screen and (min-width: 1680px)
{
	#grid_container > .column
	{
		padding-left: 2em;
		padding-right: 2em;
	}
}

/* FOOTER */

footer
{
	padding: 2.5em 0 2em 0 !important;
}

/* LOGIN */

#login_modal
{
	visibility: hidden !important;
}
#login_segment
{
	visibility: visible;
	max-width: 440px;
	margin: auto;
	padding: 0;
	box-shadow: 0 0 5px black;
}
#login_menu
{
	margin: 0;
	border-bottom: 2px solid #F57300;
}
#login_menu > .item
{
	flex: 1;
	height: 43px;
	display: flex;
	justify-content: center;
}
#login_menu > .item::before
{
	display: none;
}
#login_menu > .item.active
{
	background: #F57300;
	color: #1B1C1D !important;
	font-weight: 700;
	cursor: default;
}
#login_form
{
	padding: 1em;
}
#login_form input
{
	background: transparent;
	border-color: #8D8D8E;
	color: white;
}
#login_form input::-moz-selection
{
	background: #F58700;
}
#login_form input::selection
{
	background: #F58700;
}
#login_form *:not(.error) input:focus
{
	border-color: #F57300;
	box-shadow: 0 0 4px #F58700;
}
#login_form .error input
{
	border-color: red;
	color: red;
	caret-color: white;
}
#login_form input::placeholder
{
	color: white;
}
#login_form .icon
{
	color: white;
}
#login_form .error .icon
{
	color: red;
}
#login_error
{
	padding: 0 1.5em;
	box-shadow: none;
	color: red;
}
#login_button
{
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #1B1C1D;
}

/* IMAGE */

#image_modal,
#image_modal div
{
	visibility: hidden !important;
}
#image_modal div
{
	display: flex;
	justify-content: center;
}
#image_modal img
{
	max-height: 89vh;
	max-width: 89vw;
	background: white;
	box-shadow: 0 0 5px black;
}


@media only screen and (max-width: 767px)
{
	/* Mobile */
}

@media only screen and (min-width: 768px)
{
	/* Tablet */
}

@media only screen and (min-width: 992px)
{
	/* Desktop */
