/* Black: rgb(27,28,29) */
/* Orange: rgb(242, 113, 28) */
/* Light Orange: rgb(260, 131, 46) */

body
{
	display: flex;
	flex-direction: column;
	overflow: auto !important;
}
/*
*::-moz-selection
{
	background: rgb(242, 113, 28) !important;
}
*::selection
{
	background: rgb(242, 113, 28) !important;
}
*/
/* TOEVAL */
input::-moz-selection, textarea::-moz-selection
{
	background-color: rgb(260, 131, 46);
}
input::selection, textarea::selection
{
	background-color: rgb(260, 131, 46);
}
/**/
a
{
	color: rgb(242, 113, 28);
}
a:hover
{
	color: rgb(242, 113, 28);
	text-decoration: underline;
}
.dropdown
{
	-webkit-user-select: none;
	-ms-user-select: none; /*this is only for IE, remove?*/
	user-select: none;
}

/* HEADER */
#header_home_container
{
	display: flex;
}
#header_home
{
	padding: 0;
}
#header_home div, #header_login div
{
	margin: auto;
	width: auto !important;
}
#header_home div:before
{
	content: none;
}
#header_home img
{
	margin-right: 1.5em;
}
#header_input
{
	flex: 1;
	padding: 0;
}
#header_input *
{
	height: 100%;
}
#header_input input
{
	padding: 1.14286em !important;
	padding-right: 0 !important;
}
#header_input a
{
	text-decoration: none;
}
#header_input .search.icon
{
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0 1.14286em;
}
@media only screen and (max-width: 767px)
{
	#header_home
	{
		width: 50% !important;
	}
	#header_login
	{
		border-left: 1px solid rgba(255,255,255,.08);
		width: 50% !important;
	}
}


/* MAIN */
.main.container
{
	flex: 1;
	margin-top: 7em;
}
.main.text.container
{
	max-width: 100% !important;
	width: 100%;
}
.main.container .basic.segment
{
	margin: auto;
	max-width: 700px;
}
#dropdown_sections
{
	border-radius: 0;
	float: right;
}
#dropdown_sections.active,
#dropdown_sections:focus
{
	border-color: rgb(242, 113, 28);
}
#dropdown_sections .menu.transition
{
	border-color: rgb(242, 113, 28) !important;
}
#dropdown_sections .menu.transition .item
{
	border-top: none;
}
#dropdown_sections .menu.transition .item:hover
{
	background: rgb(260, 131, 46);
}
#dropdown_sections .menu.transition .selected.item
{
	background: rgb(242, 113, 28);
	color: rgb(27,28,29);
}
#menu_sections
{
	border-radius: 0;
}
.main.container .grid
{
	height: 100%;
	margin: auto;
	max-width: 100%;
}
.main.container .grid .row .column
{
	padding-left: 1.5em;
	padding-right: 1.5em;
}
@media only screen and (max-width: 767px)
{
	#column_crossref
	{
		order: 2;
	}
	#column_wiki
	{
		order: 1;
	}
}
.ui.inverted.dimmer
{
	z-index: 100;
}
.ui.inverted.dimmer .ui.loader
{
	/* TOEVAL */
	/*
	top: 0px;
	*/
}
.ui.inverted.dimmer .ui.loader::before
{
	border-color: transparent;
}
.ui.inverted.dimmer .ui.loader::after
{
	border-color: rgb(27,28,29) transparent transparent;
}
#column_crossref .segment
{
	border-radius: 0;
	border-top: 2px solid rgb(242, 113, 28);
}
/* what is this for? */
.main.container .grid table
{
	margin: auto;
}
#column_wiki h2, .reference, .references
{
	display: none;
}
#column_wiki table td
{
	border: 1px solid black;
}

.thumb
{
	display: inline-block;
	float: left;
	margin-right: 1em;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9;
	line-height: 1em;
	text-align: center;
}

/* FOOTER */
.ui.footer.segment
{
	margin: 5em 0em 0em;
	padding: 4em 0em;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* FOOTER & MODAL */
.column
{
	margin: auto;
}

/* MODAL */
.ui.dimmer.modals.page.transition
{
	background-color: rgba(0,0,0,.90);
}
#modal_login *
{
	border-radius: 0;
}
#modal_login .column
{
	max-width: 450px;
}
#modal_login h2
{
	margin-left: 0.5em;
	text-shadow: 0 0 8px black;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#modal_login .remove.icon.link
{
	float: right;
	margin: 0;
	margin-right: 0.4em;
	text-align: right;
	transition: color .1s ease;
}
#modal_login .remove.icon.link:hover
{
	color: rgb(260, 131, 46);
}
#modal_login .remove.icon.link:active
{
	color: rgb(207, 89, 12);
}
#modal_login .inverted
{
	box-shadow: 0 0 5px black !important;
}
#modal_login form .icon
{
	color: white;
}
#modal_login input
{
	background: transparent;
	border-color: #8d8d8e;
	color: white;
}
#modal_login input:focus
{   
	border-color: rgba(242, 113, 28, 0.8);
	box-shadow: 0 0 5px rgba(242, 113, 28, 0.6);
	outline: 0 none;
}
#modal_login input::-webkit-input-placeholder
{
	color: white;
}
#modal_login input::-moz-placeholder
{
	color: white;
}
#modal_login input:-ms-input-placeholder
{
	color: white !important;
}
#modal_login form .button
{
	color: rgb(27,28,29);
}
#modal_login form .button:hover:not(:active)
{
	background-color: rgb(260,131,46);
}
#modal_login .error.message
{
	box-shadow: none;
	color: red;
}
#modal_login .hidden
{
	display: none;
}
#modal_login .message.segment p, #modal_login .message.segment a
{
	display: inline;
}
#modal_login h2 p, #modal_login h2 i
{
	display: inline;
}